<div class="left-sidebar-pro">
  <nav id="sidebar" class="">
    <div class="sidebar-header">
      <a routerLink="/"><img class="main-logo" src="assets/img/logo/logo.png" alt="" style="width: 205px;height: auto;" /></a>
      <strong><img src="assets/img/logo/logo.png" alt="" style="width: 205px;height: auto;" /></strong>
    </div>
    <div class="left-custom-menu-adp-wrap comment-scrollbar">
      <nav class="sidebar-nav left-sidebar-menu-pro">
        <ul class="metismenu" id="menu1">
          <li class="active">
            <a routerLink="/">
              <i class="fa big-icon fa-home icon-wrap"></i>
              <span class="mini-click-non">Dashboard</span>
            </a>
          </li>
          <li>
            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="fa big-icon fa-pie-chart icon-wrap"></i> <span class="mini-click-non">Forum</span></a>
            <ul class="submenu-angle" aria-expanded="false">
              <li><a title="File Manager" href="file-manager.html"><i class="fa fa-folder sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">File Manager</span></a></li>
              <li><a title="Blog" href="blog.html"><i class="fa fa-square sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Blog</span></a></li>
              <li><a title="Blog Details" href="blog-details.html"><i class="fa fa-tags sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Blog Details</span></a></li>
              <li><a title="404 Page" href="404.html"><i class="fa fa-tint sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">404 Page</span></a></li>
              <li><a title="500 Page" href="500.html"><i class="fa fa-tree sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">500 Page</span></a></li>
            </ul>
          </li>
          <li>
            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="fa big-icon fa-bar-chart-o icon-wrap"></i> <span class="mini-click-non">Feedback</span></a>
            <ul class="submenu-angle" aria-expanded="false">
              <li><a title="Bar Charts" href="bar-charts.html"><i class="fa fa-line-chart sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Bar Charts</span></a></li>
              <li><a title="Line Charts" href="line-charts.html"><i class="fa fa-area-chart sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Line Charts</span></a></li>
              <li><a title="Area Charts" href="area-charts.html"><i class="fa fa-pie-chart sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Area Charts</span></a></li>
              <li><a title="Rounded Charts" href="rounded-chart.html"><i class="fa fa-signal sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Rounded Charts</span></a></li>
              <li><a title="C3 Charts" href="c3.html"><i class="fa fa-barcode sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">C3 Charts</span></a></li>
              <li><a title="Sparkline Charts" href="sparkline.html"><i class="fa fa-sort-amount-desc sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Sparkline Charts</span></a></li>
              <li><a title="Peity Charts" href="peity.html"><i class="fa fa-object-ungroup sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Peity Charts</span></a></li>
            </ul>
          </li>
			<li>
            <a  routerLink="/donate" aria-expanded="false"><i class="fa big-icon fa-flask icon-wrap"></i> <span class="mini-click-non">Donate</span></a>
          </li>
          <li>
            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="fa big-icon fa-envelope icon-wrap"></i> <span class="mini-click-non">Message</span></a>
            <ul class="submenu-angle" aria-expanded="false">
              <li><a title="Peity Charts" href="static-table.html"><i class="fa fa-table sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Static Table</span></a></li>
              <li><a title="Data Table" href="data-table.html"><i class="fa fa-th sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Data Table</span></a></li>
            </ul>
          </li>
          <li id="removable">
            <a class="has-arrow" href="#" aria-expanded="false"><i class="fa big-icon fa-cogs icon-wrap"></i> <span class="mini-click-non">Settings</span></a>
            <ul class="submenu-angle" aria-expanded="false">
              <li><a title="My Profile" routerLink="/my-profile"><i class="fa fa-user sub-icon-mg" aria-hidden="true"></i><span class="mini-sub-pro">My Profile</span></a></li>
              <li><a title="Change Password"  routerLink="/change-password"><i class="fa fa-lock sub-icon-mg" aria-hidden="true"></i><span class="mini-sub-pro">Change Password</span></a></li>
              <li style="cursor: pointer;"><a title="Logout" (click)="logout()"><i class="fa fa-power-off sub-icon-mg" aria-hidden="true"></i><span class="mini-sub-pro">Log Out</span></a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </nav>
</div>
