<div class="color-line"></div>
<div class="container-fluid"  style="margin-top: 7%;">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
    <div class="col-md-6 col-md-6 col-sm-6 col-xs-12">
      <div class="text-center custom-login">
        <img src="assets/img/logo.png" alt="" style="width: 150px; height: auto;padding-bottom: 10px;">
        <h3>Account Activation</h3>
        <p>Please select account type and fill all required fields. </p>
      </div>
      <div class="hpanel">
        <div class="panel-body">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div *ngIf="response" class="alert-wrap1 shadow-reset wrap-alert-b">
              <div   *ngIf="error" class="alert alert-success" role="alert">
                <strong>Well done!</strong> {{message}}
                <a class="btn btn-default btn-block" routerLink="/login" >Login</a>
              </div>
              <div  *ngIf="!error" class="alert alert-danger alert-mg-b" role="alert">
                <strong>Oh snap!</strong>  {{message}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
  </div>
  <div class="row" style="margin-top: 50px;">
    <div class="col-md-12 text-center">
      <p>Copyright &copy; {{year}} <a href="https://dlaonline.org/">Daystar Leadrship Academy</a> All rights reserved.</p>
    </div>
  </div>
</div>
